@media screen and (max-width: 769px){
    .heading h1 {font-size: 30px;}
    .heading2 h3 {font-size: 22px;}
    .im-center{text-align: center;}
}
@media screen and (max-width:427px){
    .im-mb{margin-bottom: 0 !important;}
}